.house {
    margin: 0 40px;

    @media (max-width: 375px) {
        margin: 20px;
    }

    &__title {
    color: $color-primary;
    font-size: 36px;
    font-weight: 500;
    margin: 0;

    @media (max-width: 375px) {
        font-size: 18px;
    }
}

&__text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;

    @media (max-width: 375px) {
        font-size: 14px;
    }
}

&__tag {
    margin: 25px 0;

    @media (max-width: 375px) {
        margin: 0;
    }
}
}

.house-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 375px) {
        flex-direction: column;
    }
}

.house-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 375px) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__host {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width: 375px) {
        gap: 0
    }
}

&__rating {
    margin-top: 15px;

    @media (max-width: 375px) {
        margin-top: 0;
    }
    
    .fa-star {
        margin: 5px;

        @media (max-width: 375px) {
            font-size: 12px;
        }
    }
}
}

.host-name {
    margin-right: 10px;
    text-align: end;
    width: 80px;
}

.host-img {
    height: 64px;

    @media (max-width: 375px) {
        height: 32px;
    }
}

.house-collapse {
    display: flex;
    flex-direction: row;
    gap: 15px;

    @media (max-width: 375px) {
        flex-direction: column;
        margin-top: 10px;
    }
}

