body {
  font-family: "Montserrat", serif;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  border-radius: 25px;
  background-color: #F6F6F6;
  padding: 50px;
  margin: 40px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    margin: 20px;
  }
}

.card {
  border: none;
  border-radius: 10px;
  position: relative;
  height: 340px;
  overflow: hidden;
  margin: 0;
}
.card::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card__title {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding-right: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .header {
    margin: 20px;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .header__logo {
    height: 46px;
  }
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 50px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .header__menu {
    padding: 0;
    gap: 30px;
  }
}
.header__link {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 376px) and (max-width: 768px) {
  .header__link {
    font-size: 12px;
    text-transform: uppercase;
  }
}
.header__link.active {
  border-bottom: 2px solid black;
}
@media (min-width: 376px) and (max-width: 768px) {
  .header__link.active {
    border-bottom: 1px solid black;
  }
}

.banner {
  border: none;
  border-radius: 25px;
  position: relative;
  min-height: 223px;
  max-height: 1240px;
  margin: 50px 40px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .banner {
    margin: 30px 20px 20px;
    min-height: 0;
  }
}
.banner::after {
  content: "";
  position: absolute;
  height: 223px;
  width: 100%;
  left: 0;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 376px) and (max-width: 768px) {
  .banner::after {
    height: 111px;
    border-radius: 10px;
  }
}
.banner__text {
  position: absolute;
  z-index: 2;
  left: 25%;
  bottom: 15%;
  color: white;
  font-size: 48px;
  font-weight: 700;
  font-family: "Montserrat";
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .banner__text {
    left: 12%;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .banner__text {
    font-size: 24px;
    left: 5%;
    right: 25%;
    bottom: 10%;
  }
}
.banner__img {
  object-fit: cover;
  width: 100%;
  height: 223px;
  border-radius: 25px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .banner__img {
    height: 111px;
    border-radius: 10px;
  }
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 10px;
  margin-top: 50px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .footer {
    margin-top: 0;
  }
}
.footer__text {
  color: white;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 415px;
  max-height: 1240px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .slider {
    margin-top: 30px;
    min-height: 0;
  }
}
.slider__wrapper {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}
@media (min-width: 376px) and (max-width: 768px) {
  .slider__wrapper {
    height: 255px;
    border-radius: 10px;
  }
}
.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 415px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  border-radius: 25px;
  z-index: 0;
}
@media (min-width: 376px) and (max-width: 768px) {
  .slider__img {
    height: 255px;
    border-radius: 10px;
  }
}
.slider__img.active {
  opacity: 1;
  z-index: 1;
}
.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 45px;
  color: #FFF;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 376px) and (max-width: 768px) {
  .slider__arrow {
    font-size: 25px;
  }
}
.slider__container {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
@media (min-width: 376px) and (max-width: 768px) {
  .slider__container {
    display: none;
  }
}
.slider__counter {
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

.arrowLeft {
  left: 32px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .arrowLeft {
    left: 10px;
  }
}

.arrowRight {
  right: 32px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .arrowRight {
    right: 10px;
  }
}

.house {
  margin: 0 40px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house {
    margin: 20px;
  }
}
.house__title {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1024px) {
  .house__title {
    width: 80%;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .house__title {
    font-size: 18px;
  }
}
.house__text {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house__text {
    font-size: 14px;
  }
}
.house__tag {
  margin: 25px 0;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house__tag {
    margin: 0;
  }
}

.house-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house-container {
    flex-direction: column;
  }
}

.house-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house-info {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
}
.house-info__host {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house-info__host {
    gap: 0;
  }
}
.house-info__rating {
  margin-top: 15px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house-info__rating {
    margin-top: 0;
  }
}
.house-info__rating .fa-star {
  margin: 5px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house-info__rating .fa-star {
    font-size: 12px;
  }
}

.host-name {
  margin-right: 10px;
  text-align: end;
  width: 80px;
}

.host-img {
  height: 64px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .host-img {
    height: 32px;
  }
}

.house-collapse {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .house-collapse {
    flex-direction: column;
    margin-top: 10px;
  }
}

.collapse {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  background-color: transparent;
}
@media (min-width: 376px) and (max-width: 768px) {
  .collapse {
    border-radius: 5px;
  }
}
.collapse__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  transition: max-height 0.9s ease-in-out, opacity 1s ease-in-out;
}
.collapse__content__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 376px) and (max-width: 768px) {
  .collapse__content__text {
    font-size: 12px;
  }
}
.collapse__content__text ul {
  padding-left: 15px;
  list-style: none;
}
.collapse__content__text p {
  margin: 0;
  padding: 15px;
}
.collapse__content.open {
  max-height: 500px;
  opacity: 1;
}

.collapse-container {
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 376px) and (max-width: 768px) {
  .collapse-container {
    border-radius: 5px 5px 0 0;
  }
}
.collapse-container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .collapse-container__title {
    font-size: 13px;
    border-radius: 5px;
  }
}
.collapse-container__arrow {
  padding: 0 15px;
}
.collapse-container__arrow {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}
.collapse-container__arrow svg {
  transition: transform 0.3s ease;
}
.collapse-container__arrow .rotate {
  transform: rotate(180deg);
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .error-container {
    margin: 80px 20px;
  }
}
.error-container h1 {
  color: #FF6060;
  font-size: 150px;
  font-weight: 700;
}
@media (min-width: 376px) and (max-width: 768px) {
  .error-container h1 {
    font-size: 96px;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .error-container span {
    display: none;
  }
}
.error-container p {
  color: #FF6060;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 100px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .error-container p {
    font-size: 18px;
    width: 70%;
    text-align: center;
  }
}
.error-container a {
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 50px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .error-container a {
    font-size: 14px;
  }
}

.collapses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 120px;
  gap: 30px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .collapses {
    margin: 20px;
    gap: 10px;
  }
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 376px) and (max-width: 768px) {
  .tag {
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
  }
}

.host-name {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 376px) and (max-width: 768px) {
  .host-name {
    font-size: 12px;
  }
}

.host-img {
  border-radius: 100px;
}

/*# sourceMappingURL=style.css.map */
