.collapse {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  background-color: transparent;

  @media (max-width: 375px) {
    border-radius: 5px;
  }

    &__content {
      max-height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    transition: max-height 0.9s ease-in-out, opacity 1s ease-in-out;

      &__text {
        margin: 0;
        font-size: 18px;
        font-weight: 400;

      @media (max-width: 375px) {
        font-size: 12px;
      }
      }
      
      &__text ul {
        padding-left: 15px;
        list-style: none;
      }
      
      &__text p {
        margin: 0;
        padding: 15px;
      }
    }
    
    &__content.open {
      max-height: 500px;
      opacity: 1;
    }
  }
  
.collapse-container {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-secondary;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px 10px 0 0;

  @media (max-width: 375px) {
    border-radius: 5px 5px 0 0;
  }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      color: $color-secondary;
      border-radius: 5px;

      @media (max-width: 375px) {
        font-size: 13px;
        border-radius: 5px;
      }
    }
    
    &__arrow {
      padding: 0 15px;
    }
    
    &__arrow i {
      transition: transform 0.5s ease-in-out;
      transform: rotate(0deg);
      color: $color-secondary;
      display: inline-block;
    }
    
  }
  
  .collapse.close .collapse-container__arrow i {
    transform: rotate(180deg);
    color: $color-secondary;
  }
  
  