.collapse {
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: $color-primary;
    border-radius: 10px;

    &__content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;
      background-color: #f6f6f6;
      transition: 0.5s ease-in-out;

      &__text {
        margin: 0;
      }
      
      &__text ul {
        padding-left: 1.5rem;
        list-style: none;
      }
      
      &__text p {
        margin: 0;
        padding: 15px;
      }
    }
    
    &__content.open {
      max-height: 300px;
    }
  }
  
  .collapse-container {
    padding: 0;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      color: $color-secondary;
      border-radius: 5px;
    }
    
    &__arrow i {
      transition: transform 0.5s ease-in-out;
      transform: rotate(-180deg);
      color: $color-secondary;
    }
    
  }
  
  .collapse.close .collapse-container__arrow i {
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
    color: $color-secondary;
  }
  
  
  