.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-top: 50px;

    @media (min-width: 376px) and (max-width: 768px) {
        margin-top: 0;
    }

    &__text {
        color: white;
    }
}

