.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-top: 50px;

    &__text {
        color: white;
    }
}

