.host-name {
    color: $color-primary;
    font-size: 18px;
    font-weight: 500;

    @media (min-width: 376px) and (max-width: 768px) {
        font-size: 12px;
    }
}

.host-img {
    border-radius: 100px;
}

