.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 415px;
  max-height: 1240px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;

  @media (min-width: 376px) and (max-width: 768px) {
    margin-top: 30px;
    min-height: 0;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;

    @media (min-width: 376px) and (max-width: 768px) {
      height: 255px;
      border-radius: 10px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 415px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    border-radius: 25px;
    z-index: 0;

    @media (min-width: 376px) and (max-width: 768px) {
      height: 255px;
      border-radius: 10px;
    }
  }
  
  &__img.active {
    opacity: 1;
    z-index: 1;
  }
  
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
    color: #FFF;
    z-index: 10;
    cursor: pointer;

    @media (min-width: 376px) and (max-width: 768px) {
      font-size: 25px;
    }
  }

  &__container {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);

    @media (min-width: 376px) and (max-width: 768px) {
      display: none;
    }
  }
  
  &__counter {
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
  }
}

.arrowLeft {
  left: 32px;

  @media (min-width: 376px) and (max-width: 768px) {
    left: 10px;
  }
}

.arrowRight {
  right: 32px;

  @media (min-width: 376px) and (max-width: 768px) {
    right: 10px;
  }
}
