.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;

    @media (max-width: 375px) {
      font-size: 10px;
      font-weight: 700;
      border-radius: 5px;
    }
  }